version: '3.3'

#------------------------------------------------------------
# This docker compose describes how to run sefi export. It requires
#    - environment variables defined via .env file
#
# This configuration file defines 2 machines
#   - app: Main rails application (frontend)
#   - worker: responsible of running jobs like sending mails, virus analysis
# Variables
# IMAGE : name of the docker image to run (sipf/mes-demarches)
# TAG : Tag of the image to run (eg master or devpf or b38)
#
# APP_HOST: host:port pointing to the application to allows creation of absolute links
#
# DB_DATABASE: database configuration
# DB_HOST
# DB_USERNAME
# DB_PASSWORD
#
# NETWORK_SLOT: Optional, default to 0, Number between 0 and 255 allowing to run multiple env (dev, staging)
#
# SENTRY variables to logs exception on the SEntry platform
#-------------------------------------------------------------
services:
  app:
    image: ${IMAGE}:${TAG:-latest}
    container_name: app-${ENV:-dev}
    restart: always
    ports:
      - ${PORT}:${PORT}
    environment:
      - APP_HOST
      - CONFIG
      - DB_POOL
      - GRAPHQL_BEARER
      - GRAPHQL_HOST
      - MAILJET_API_KEY
      - MAILJET_SECRET_KEY
      - MAIL_DEV
      - MAIL_FROM
      - MAIL_INFRA
      - PORT
      - POSTGRES_DB
      - POSTGRES_HOST
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - RAILS_ENV=${ENV:-production}
      - SCHEDULE
      - SITE_NAME
      - SMTP_HOST
    volumes:
      - storage:/magic-benne/storage
      - export1:/magic-benne/export1
      - export2:/magic-benne/export2
    networks:
      - md-network

  worker:
    image: ${IMAGE}:${TAG:-latest}
    entrypoint: ["bundle", "exec"]
    command: rails jobs:work
    restart: always
    environment:
      - APP_HOST
      - CONFIG
      - DB_POOL
      - GRAPHQL_BEARER
      - GRAPHQL_HOST
      - MAILJET_API_KEY
      - MAILJET_SECRET_KEY
      - MAIL_DEV
      - MAIL_FROM
      - MAIL_INFRA
      - POSTGRES_DB
      - POSTGRES_HOST
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - PORT
      - RAILS_ENV=${ENV:-production}
      - SCHEDULE
      - SITE_NAME
      - SMTP_HOST
    volumes:
      - storage:/magic-benne/storage
      - export1:/magic-benne/export1
      - export2:/magic-benne/export2
    networks:
      - md-network

volumes:
  storage:
    driver: local
    driver_opts:
      type: none
      device: $ROOT/storage
      o: bind
  export1:
    driver: local
    driver_opts:
      type: none
      device: $EXPORT1
      o: bind
  export2:
    driver: local
    driver_opts:
      type: none
      device: $EXPORT2
      o: bind

networks:
  md-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.2.0/24

