# configuration à charger

CONFIG=sante.yml

# when to run export
SCHEDULE="every day at 8:15"
# port à configurer pour accéder à l'interface
PORT=3003

# Image dockerhub à télécharger
IMAGE=matau/magic-benne
TAG=master

# ROOT PATH
ROOT=C:\Users\clautier\RubymineProjects\magic-benne
# Export paths
EXPORT1=C:\Users\clautier\RubymineProjects\magic-benne/export
EXPORT2=C:\Users\clautier\RubymineProjects\magic-benne/export

#----- Database configuration
DB_POOL=5
POSTGRES_USER=mb
POSTGRES_PASSWORD=mb
POSTGRES_DB=magic-benne
POSTGRES_HOST=localhost
PGADMIN_DEFAULT_EMAIL=mb@sefi.pf
PGADMIN_DEFAULT_PASSWORD=


# GRAPHQL parameters
GRAPHQL_HOST=https://www.mes-demarches.gov.pf
GRAPHQL_BEARER=# token in Mes-Démarches user profile

# SMTP PARAMETERS
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_HOST=

# MAILS
SITE_NAME=Magic Benne
MAIL_INFRA=
MAIL_DEV=
MAIL_FROM=Magic Benne <toto@tutu.com>


#---------------- File Transfer
FT_SERVER=ftpro.transfertpro.com
FT_LOGIN=
FT_PASSWORD=

# VODAFONE
VODAFONE_SECRET=VM41ac1A6aoMoB3q8/e0xu2DPSETOVd2k1594QnoH4ieXk//C8E8nJfERdzTPlOBEK/i3fX6hKViujTG5OR5wA==
