.col
  %p
  Bonjour,
  %br/
  Le répertoire du NAS ne semble pas accessible. Je ne peux déverser ma cargaison.
  %br/
  Est-ce qu'il serait possible de le remonter pour que je puisse exporter les données au prochain départ ?
  %br/
  Merci d'avance
  %br/
  = SITE_NAME
