.container-fluid
  .row
    .col
      - if @running
        %p
          Synchronisation en cours. Rafraichir la page ulterieurement.
      - else
        = link_to 'Traiter tous les dossiers', demarches_export_all_path, class: "btn btn-success"
        = link_to 'Traiter les nouveaux dossiers', demarches_export_path, class: "btn btn-success"
