.container-fluid
  .row
    .col
      = link_to 'Traiter tous les dossiers', demarches_export_all_path, class: "btn btn-success"
      = link_to 'Traiter les nouveaux dossiers', demarches_export_path, class: "btn btn-success"
