.container-fluid
  .row
    .col
      = link_to 'Exporter tous les CSVs', demarches_export_all_path, class: "btn btn-success"
      = link_to 'Exporter nouveaux CSVs', demarches_export_path, class: "btn btn-success"
