$blue: #0069cc;
$light-blue: #1c7ec9;
$lighter-blue: #c3d9ff;
$black: #333;
$white: #fff;
$grey: #888;
$light-grey: #f8f8f8;
$dark-grey: #666;
$border-grey: #ccc;
$darker-red: #530b0d;
$dark-red: #a10005;
$medium-red: rgba(161, 0, 5, .9);
$red: #e11619;
$light-red: #ed1c24;
$lighter-red: #f52a2a;
$background-red: #ffdfdf;
$green: darken(#169862, 5%);
$old-green: #15ad70;
$lighter-green: lighten($old-green, 30%);
$light-green: lighten($old-green, 25%);
$dark-green: darken($old-green, 20%);
$orange: #f28900;
$orange-bg: lighten($orange, 35%);
$light-yellow: #ffffde;
$yellow: #ffdb10;
$brown: #924e17;

$nav-bar-fg: #fff;
$nav-bar-bg: $red;
$nav-bar-link: $yellow;

