// Place all the styles related to the Dossier controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #0069cc;

@import 'utils';
@import 'toggle-switch';

%outline {
  &:active:not(:disabled),
  &:focus {
    outline: 3px solid $blue;
  }
}

.header-search {
  position: relative;

  .form input {
    margin: 0 10px 0 0;
    max-width: 300px;
    min-width: 90px;
    padding: 9px;
  }

  .hidden {
    @extend %hidden;
  }

  button {
    @extend %outline;

    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px;
    position: absolute;
    right: 10px;

    &:hover {
      opacity: .8;
    }
  }
}
