!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'application'
    :css
      /* Email styles need to be inline */
  %body
    %p{ style: "text-align: center" }
      %img{ :src => image_url("sefidem.png"), alt: 'sefidem', width: '200' }
    = yield
    %p{ style: "text-align: center" }
      %img{ :src => image_url("sefidem.png"), alt: 'sefidem', width: '400' }
